#inputs
#NET "reset" LOC = "G12";
#NET "enable" LOC = "P11";
NET "clk" LOC = "B8";

NET "n1[0]" LOC = "P11";
NET "n1[1]" LOC = "L3";
NET "n1[2]" LOC = "K3";
NET "n1[3]" LOC = "B4";

NET "n2[0]" LOC = "G3";
NET "n2[1]" LOC = "F3";
NET "n2[2]" LOC = "E2";
NET "n2[3]" LOC = "N3";

#outputs
NET "disp[0]" LOC = "L14";
NET "disp[1]" LOC = "H12";
NET "disp[2]" LOC = "N14";
NET "disp[3]" LOC = "N11";
NET "disp[4]" LOC = "P12";
NET "disp[5]" LOC = "L13";
NET "disp[6]" LOC = "M12";

NET mux[0] LOC = "K14";
NET mux[1] LOC = "M13";
NET mux[2] LOC = "J12";
NET mux[3] LOC = "F12";